body {
  margin: 0;
  padding: 0;
}

:root {
  --default-font: Rubik, sans-serif;
  --primary-color: #535a3b;
  --secondary-color: #a7b99e;
  --third-color: #cedcc3;
  --forth-color: #eff7d3;
}

nav {
  padding: 20px 0;
  background-color: var(--primary-color);
  color: white;
  height: 10vh;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.navbar-fluid {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  height: 100%;
}

.navbar_left {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.navbar-nav {
  color: white;
  display: flex;
  align-items: center;
  list-style: none;
  width: 80%;
  justify-content: flex-end;
}

.nav-link {
  text-decoration: none;
  padding: 0px 20px;
  color: white;
}
.nav-link:hover {
  color: #a7b99e;
}

.hero {
  background-image: url(https://images.unsplash.com/photo-1518655048521-f130df041f66?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  text-align: center;
  background-size: cover;
  padding: 210px;
  width: 100vw;
  height: 100vh;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--primary-color);
}
.hero h1 {
  color: var(--primary-color);
  font-size: 90px;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
  color: var(--primary-color);
}

.button-about a {
  background: var(--primary-color);
  padding: 20px 30px;
  margin: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.button-about a:hover {
  background: var(--secondary-color);
}

.text-center {
  font-size: 30px;
  margin: 70px;
}

.title {
  font-weight: bold;
  color: var(--primary-color);
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

footer {
  margin: 70px 98px;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 10px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: white;
  background: var(--primary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--forth-color);
}

.text-muted {
  color: white;
}

.about-section {
  padding: 160px 20px;
}
.about-section-content {
  margin: 30px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
  font-weight: bold;
}
.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font);
}
p {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-top: 0;
  padding-bottom: 18px;
}
.buttonSee {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 30px;
  color: white;
  text-decoration: none;
}
.img-fluid {
  border-radius: 10%;
  max-width: 100%;
  height: auto;
}

.content-container {
  padding: 160px 20px 5px;
}
.content h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.content {
  margin: 30px;
}
.work-title {
  color: var(--primary-color);
  font-size: 50px;
}
.work-p {
  margin: 10px;
  font-size: 20px;
}
